---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true      
  AfterClass: true        
  AfterNamespace: false   
  AfterControlStatement: true
  BeforeCatch: true     
  BeforeElse: true

AlignAfterOpenBracket: Align
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
NamespaceIndentation: None

AlignOperands: true
AlignTrailingComments: true

AllowShortFunctionsOnASingleLine: None
BreakConstructorInitializers: BeforeColon

SpaceAfterCStyleCast: false
SpaceInEmptyParentheses: false 
SpacesInParentheses: true

SortIncludes: true
FixNamespaceComments: true
MaxEmptyLinesToKeep: 1
...
